/* LATO ----------------------------------------------------------------------------------*/
@font-face {
    font-family: "Lato";
    src: url('/maps/fonts/lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url('/maps/fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url('/maps/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url('/maps/fonts/lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
}




/* MONTSERRAT ----------------------------------------------------------------------------------*/
@font-face {
    font-family: "Montserrat";
    src: url('/maps/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url('/maps/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('/maps/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url('/maps/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url('/maps/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url('/maps/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
}




/* TITILLIUM WEB ----------------------------------------------------------------------------------*/
@font-face {
    font-family: "Titillium Web";
    src: url('/maps/fonts/titillium_web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Titillium Web";
    src: url('/maps/fonts/titillium_web/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Titillium Web";
    src: url('/maps/fonts/titillium_web/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
}




/* ARCHIVO NARROW ----------------------------------------------------------------------------------*/
@font-face {
    font-family: "Archivo Narrow";
    src: url('/maps/fonts/archivo_narrow/ArchivoNarrow-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Archivo Narrow";
    src: url('/maps/fonts/archivo_narrow/ArchivoNarrow-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Archivo Narrow";
    src: url('/maps/fonts/archivo_narrow/ArchivoNarrow-Bold.ttf') format('truetype');
    font-weight: 700;
}